<footer class="panel-footer" xmlns="http://www.w3.org/1999/html">
  <small>
    <a href="mailto: luns@list.ru">luns</a> 2015
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   'about' %></li>
      <li><%= link_to "Contact", 'contact'%></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>